div{
    background-color: whitesmoke;
    padding: 50px;
}
body{
    background-color: black;
}
ul{
    display:inline-flex;
    list-style: none;
    font-size: 20px;
}
#box{
    border: outset;
    
    position: relative;
    top: 60px;
    
    border-color: rgb(255, 255, 255);
    padding: 90px;
    padding-right: 40px;
    padding-left: 40px;
    
}